{% extends 'layout.html' %}

{% block auth_content %}
<div class="auth-box">
    <div class="auth-header">
        <i class="fa-solid fa-shield-halved auth-logo"></i>
        <h1>Create New Password</h1>
        <p>Enter your new secure password</p>
    </div>
    
    <form method="POST">
        <div>
            <label class="form-label">New Password</label>
            <input type="password" name="new_password" class="form-control" required placeholder="••••••••">
        </div>
        <button type="submit" class="btn-primary btn-full">Securely Save Password</button>
    </form>
</div>
{% endblock %}